body {
    background-color: #E8DFCA;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
  }
  
  .navigation-bar {
    height: 100px;
    width: 100%;
    text-align:right;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
    color: black; /* Initial text color */
    transition: color 0.7s ease
  }

  .navigation-bar li a:hover{
    color: #7a6255;
    font-weight: 600;
  }

  .rounded-container {
    margin: 10% auto; /* Center the container vertically and horizontally */
    width: 70%; /* Adjust the width to a percentage of the viewport */
    max-width: 450px; /* Set a maximum width to maintain responsiveness */
    height: auto; /* Allow the height to adjust based on content */
    padding: 20px; /* Increase padding for better spacing */
    border: 10px solid #F5EFE6;
    border-radius: 20px;
    background-color: #F5EFE6;
}


h2 {

    text-align: center;
}

.container-p {
    margin-top:10%;
    margin-left: 5%;
}

form {
  /* existing styles */
  margin-top: 20px; /* Add some space between the form and the heading */
}

input[type=text], input[type=number] {
  width: 100%; /* Make the input fields take up the full width */
  padding: 10px; /* Increase padding for better appearance */
  box-sizing: border-box; /* Include padding and border in the width */
}


p {
    font-size: 21px;
}

input[type=text]{
    width: 4s00px;
    border: none;
    border-bottom: 2px solid black;
    margin: 20px;
    font-size: 21px;
    text-align: center;
    background-color: #F5EFE6;
}

label {
    align-items: start;
    margin-left: 5%;
}

.profile_button {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;  
}

#update {
    font-size: 21px;
    width: 150px;
    height: 50px;
    background-color: #E9DAC1;
    border: 10px;
    border-radius: 20px;
    margin-left: 40px;
    

} 

#update:hover{
    font-size: 21px;
    background-color: #D8B6A4;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
    

} 

.profile_button {
  text-align: center; /* Center-align the content */
  margin: 0 auto; /* Center the container horizontally */
  padding-left: 10px;
  padding-right: 10px;
}

.profile_button button, .profile_button a {
  margin: 0 10px; /* Add some space between the buttons */
}

#c_rating {
    width: auto;
}

/* .profile_button input {
} */
