<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="login-form">
        <h1>Driver/Customer Login</h1>
        <p>Driver Login <a class="signup-link" href="/driverlogin">Driver Login</a></p>
        <p>Customer Login <a class="signup-link" href="/userlogin">User Login</a></p>
        <p> <a class="signup-link" href="/analysis">Database Analysis </a></p>

    </div>
</body>
</html>
