<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/customer_home.css">
</head>
<body>
    <h1>Driver Ratings</h1>
    <img src="data:image/png;base64,{{ driver_ratings }}" alt="Driver Ratings">

    <h1>Trip Distances</h1>
    <img src="data:image/png;base64,{{ trip_distances }}" alt="Trip Distances">

    <h1>Distance vs Estimated Fare</h1>
    <img src="data:image/png;base64,{{ distance_estfare }}" alt="Distance vs Estimated Fare">
</body>
</html>
