<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trip History</title>
<!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
<link rel="stylesheet" href="../static/customer_history.css">
</head>
<body>
    <div class="navigation-bar">


        <div id="navigation-container">
    
        <img src="../static/logo.svg" alt="logo" width="80px" height="100px">    
          <ul>
            <li><a href="customer_home.html">Home</a></li>
            <li><a href="/customer_profile">Profile</a></li>
            <li><a href="/customer_history">History</a></li>
            <li><a href="{{url_for('logout')}}">Log out</a></li>

          </ul>
        </div>
    </div>

        
    </div>

    

<section class="trip-history">
    <div class="rounded-container">
        <h2>History</h2>
        <table>
            <tr>
                <th>Trip id</th>
                <th>Pick up</th>
                <th>Drop off</th>
                <th>Trip status</th>
                <th>Driver id</th>
                <th>Fare</th>
            </tr>
            <!-- Dynamic rows would be generated here -->
            <tbody>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.trip_id }}</td>
                            <td>{{ row.pickup_loc }}</td>
                            <td>{{ row.dropoff_loc }}</td>
                            <td>{{ row.request_status}}</td>
                            <td>{{ row.Pickup_time_estimationDriverdriver_id}}</td>
                            <td>{{ row.estfare}}</td>


                            <!-- Add more table data cells as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
        
    
            <!-- Add more rows as needed -->
        </table>
    </div>
</section>
<button onclick="history.back()"><p>back</p></button>


</body>
</html>